<form name="destinationForm"
      ng-submit="goToPlanSelection($event, destinationForm.$valid&&(tempData.destinations.length))" novalidate>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="row form-section">
                <div class="col-sm-1 hidden-xs">
                    <img ng-src="{{'images/icon-destination.png'}}" alt="">
                </div>
                <div class="col-xs-12 col-sm-11">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 section-heading">
                            <div class="visible-xs-inline-block">
                                <img ng-src="{{'images/icon-destination.png'}}" alt="">
                            </div>
                            <h3>จุดหมายปลายทาง</h3>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : !tempData.destinations.length && formStepSubmitted  }">
                                <ol class="nya-bs-select form-control text-center" id="destination"
                                    ng-class="{'filled': tempData.destination}"
                                    ng-change="addDestination();" ng-model="tempData.destination" name="destinations"
                                    title="เลือกได้สูงสุด 10 ประเทศ" data-size="5" data-live-search="true">
                                    <li nya-bs-option="item in travelData.destinationList | orderBy:'country'" ng-class="{disabled: tempData.destinations.length === 10 }">
                                        <!--<span class="dropdown-header">{{$group|capitalize}}</span>-->
                                        <a>
                                            {{ item.country }}
                                        </a>
                                    </li>
                                </ol>
                                <div class="help-block" ng-messages="{hasDestination:!tempData.destinations.length}"
                                     ng-if="formStepSubmitted">
                                    <p ng-message="hasDestination">กรุณาเลือกจุดหมายปลายทางอย่างน้อย 1 สถานที่</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="tempData.destinations.length">
                            <div class="col-xs-12 col-sm-6 section-heading">
                                <h6>กลุ่มประเทศจุดหมายปลายทาง {{getProtectionArea()|capitalize}}</h6>
                            </div>
                        </div>

                        <div ng-repeat="destination in tempData.destinations | limitTo: 10" class="col-xs-12 col-sm-6">
                            <div class="travel-destination">
                                <span ng-bind="destination.country"></span>
                                <button type="button" class="btn btn-tag" ng-click="removeDestination($index)"><img
                                        ng-src="{{'images/icon-delete.png'}}" alt="" style="margin-top: -4px;"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-section">
                <div class="col-sm-1 hidden-xs">
                    <img src="images/icon-schedule.png" alt="">
                </div>
                <div class="hidden-xs col-sm-11">
                    <div class="row">
                        <div class="col-sm-12 section-heading">
                            <h3>วันเดินทาง<span ng-bind="tempData.daysAsText"></span></h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : destinationForm.startDate.$invalid && (formStepSubmitted || destinationForm.startDate.$touched) }">
                                <input type="text" name="startDate" start-date-calendar="2"
                                       ng-model="travel.startDate" placeholder="วันที่เริ่มต้นเดินทาง"
                                       class="form-control text-center" readonly required/>

                                <div class="help-block" ng-messages="destinationForm.startDate.$error"
                                     ng-if="formStepSubmitted || destinationForm.startDate.$touched">
                                    <p ng-message="required">กรุณาระบุวันที่เริ่มต้นเดินทาง</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : destinationForm.endDate.$invalid && (formStepSubmitted || destinationForm.endDate.$touched) }">
                                <input type="text" name="endDate" end-date-calendar="2" ng-model="travel.endDate"
                                       placeholder="วันที่สิ้นสุดการเดินทาง" class="form-control text-center" readonly
                                       required/>

                                <div class="help-block" ng-messages="destinationForm.endDate.$error"
                                     ng-if="formStepSubmitted || destinationForm.endDate.$touched">
                                    <p ng-message="required">กรุณาระบุวันที่สิ้นสุดการเดินทาง</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visible-xs col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 section-heading">
                            <img ng-src="{{'images/icon-schedule-orange.png'}}" alt="">

                            <h3>เริ่มเดินทาง</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : destinationForm.startDate.$invalid && (formStepSubmitted || destinationForm.startDate.$touched) }">
                                <input type="text" name="startDate" start-date-calendar="1" ng-model="travel.startDate"
                                       autocomplete="off"
                                       placeholder="วันที่เริ่มต้นเดินทาง" class="form-control text-center" required/>

                                <div class="help-block" ng-messages="destinationForm.startDate.$error"
                                     ng-if="formStepSubmitted || destinationForm.startDate.$touched">
                                    <p ng-message="required">กรุณาระบุวันที่เริ่มต้นเดินทาง</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 section-heading">
                            <img ng-src="{{'images/icon-schedule.png'}}" alt="">

                            <h3>เดินทางกลับ</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : destinationForm.endDate.$invalid && (formStepSubmitted || destinationForm.endDate.$touched) }">
                                <input name="endDate" type="text" end-date-calendar="1" ng-model="travel.endDate"
                                       autocomplete="off"
                                       placeholder="วันที่สิ้นสุดการเดินทาง" class="form-control text-center" required/>

                                <div class="help-block" ng-messages="destinationForm.endDate.$error"
                                     ng-if="formStepSubmitted || destinationForm.endDate.$touched">
                                    <p ng-message="required">กรุณาระบุวันที่สิ้นสุดการเดินทาง</p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="tempData.daysAsText" class="col-xs-12 section-heading">
                            <h3>เดินทาง<span ng-bind="tempData.daysAsText"></span></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-section">
                <div class="col-sm-1 hidden-xs">
                    <img ng-src="{{'images/icon-passenger.png'}}" alt="">
                </div>
                <div class="col-xs-12 col-sm-11">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 section-heading">
                            <div class="visible-xs-inline-block">
                                <img ng-src="{{'images/icon-passenger.png'}}" alt="">
                            </div>
                            <h3>จำนวนผู้ขอเอาประกันภัย</h3>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : destinationForm.passengers.$invalid && (formStepSubmitted || destinationForm.passengers.$touched) }">
                                <ol class="nya-bs-select form-control text-center"
                                    ng-class="{'filled': travel.passengers}" ng-model="travel.passengers"
                                    name="passengers" title="เลือกจำนวนผู้เดินทาง" data-size="5" required>
                                    <li nya-bs-option="passenger in range(1, travelData.maxTraveller)" ng-value="{{passenger}}">
                                        <a>
                                            {{ passenger }}
                                        </a>
                                    </li>
                                </ol>
                                <div class="help-block" ng-messages="destinationForm.passengers.$error"
                                     ng-if="formStepSubmitted || destinationForm.passengers.$touched">
                                    <p ng-message="required">กรุณาเลือกจำนวณผู้ขอเอาประกันภัย</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-section" ng-if="travelData.hasPromotion">
                <div class="col-sm-1 hidden-xs">
                    <img ng-src="{{'images/icon-coupon.png'}}" alt="">
                </div>
                <div class="col-xs-12 col-sm-11">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 section-heading">
                            <div class="visible-xs-inline-block">
                                <img ng-src="{{'images/icon-coupon.png'}}" alt="">
                            </div>
                            <h3>ใส่รหัสโปรโมชั่น (ถ้ามี)</h3>
                        </div>
                        <div class="col-xs-12 col-sm-6 ">
                            <div class="form-group">
                                <label class="sr-only" for="promotionCode">Promotion Code</label>
                                <input type="text" ng-model="travel.promoCode" name="promotionCode" class="form-control"
                                       id="promotionCode" ng-blur="checkPromotionCodeChange()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                            <button type="submit" offset="30" du-smooth-scroll href="#form-navigation"
                                    class="btn btn-super btn-block step-submit-button"
                                    ng-click="goToPlanSelection($event, destinationForm.$valid&&(tempData.destinations.length))">
                                <span>คำนวณเบี้ยประกัน</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="caution">
                        <h4><img ng-src="{{'images/icon-caution.png'}}" alt=""> หมายเหตุ</h4>

                        <p ng-bind-html="trustAsHtml(travelData.remark)"></p>
                    </div>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                            <button type="button" href="#form-navigation" offset="30" du-smooth-scroll
                                    ng-click="goToPlanSelection($event, destinationForm.$valid&&(tempData.destinations.length))"
                                    class="btn btn-super btn-block step-submit-button">
                                <span>คำนวณเบี้ยประกัน</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>