<div class="content-wrapper" id="form-container">
	<div class="row">
		<div class="col-12-xs">
			<div class="banner" ng-if="travelData.banner_image_url" >
				<a ng-if="travelData.banner_link_url" ng-href="{{travelData.banner_link_url}}"><img ng-src="{{travelData.banner_image_url}}"/></a>
				<img ng-if="!travelData.banner_link_url" ng-src="{{travelData.banner_image_url}}"/>
			</div>
			<div class="form-navigation" id="form-navigation">
				<img src="images/form-navigation.png" alt="">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h2>แผนประกันภัย<br>เดินทางต่างประเทศ Travel Care +</h2>
					<div class="insurance-form-wrapper">
						<form name="insuranceForm" novalidate id="insurance-form" ng-submit="processForm()">
				            <div id="form-views" ui-view></div>
				        </form>
					</div>
				</div>
			</div>
			<div class="bg">
				<div class="bg-inner">
					<img src="images/bg.png"/>
				</div>
			</div>
		</div>
	</div>

</div>
<pre>
    {{ travel }}
</pre>
<pre>insuranceForm.$valid = {{ insuranceForm.$valid | json }}</pre>