<form name="paymentForm" id="insurance-form" method="post"
      ng-submit="submitOrder($event,paymentForm)" novalidate>
    <fieldset ng-disabled="isProcessing || editingSummarybar" style="border: 0px; margin:0; padding: 0px;">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="payment">
                    <div class="payment-header">
                        <div class="row">
                            <div class="col-xs-12 text-center"><h4>ข้อมูลการชำระเงิน</h4></div>
                        </div>
                    </div>
                    <div class="payment-details">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                <div class="row form-group"
                                     ng-class="{ 'has-error' : paymentForm.cardnumber.$invalid && (formStepSubmitted || paymentForm.cardnumber1.$touched || paymentForm.cardnumber2.$touched || paymentForm.cardnumber3.$touched || paymentForm.cardnumber4.$touched) }">
                                    <p class="col-xs-12 col-sm-5 control-label">หมายเลขบัตรเครดิต :</p>

                                    <div class="col-xs-12 col-sm-7" style="padding:0;">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <input type="text" name="cardnumber1" mask="9999" maxlength="4"
                                                       restrict="reject" clean="true"
                                                       ng-change="payment.creditCardNo = payment.cardnumber1 + payment.cardnumber2 + payment.cardnumber3 + payment.cardnumber4"
                                                       ng-model="payment.cardnumber1" autocomplete="off"
                                                       class="cardnumber form-control text-center">
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="text" name="cardnumber2" mask="9999" maxlength="4"
                                                       restrict="reject" clean="true"
                                                       ng-change="payment.creditCardNo = payment.cardnumber1 + payment.cardnumber2 + payment.cardnumber3 + payment.cardnumber4"
                                                       ng-model="payment.cardnumber2" autocomplete="off"
                                                       class="cardnumber form-control text-center">
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="text" name="cardnumber3" mask="9999" maxlength="4"
                                                       restrict="reject" clean="true"
                                                       ng-change="payment.creditCardNo = payment.cardnumber1 + payment.cardnumber2 + payment.cardnumber3 + payment.cardnumber4"
                                                       ng-model="payment.cardnumber3" autocomplete="off"
                                                       class="cardnumber form-control text-center">
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="text" name="cardnumber4" mask="9999" maxlength="4"
                                                       restrict="reject" clean="true"
                                                       ng-change="payment.creditCardNo = payment.cardnumber1 + payment.cardnumber2 + payment.cardnumber3 + payment.cardnumber4"
                                                       ng-model="payment.cardnumber4" autocomplete="off"
                                                       class="cardnumber form-control text-center">
                                            </div>
                                            <input type="hidden" name="cardnumber"
                                                   ng-model="payment.creditCardNo"
                                                   ng-pattern="validCardType" required>
                                            <div class="col-xs-12">
                                                <div class="help-block" ng-messages="paymentForm.cardnumber.$error"
                                                     ng-if="paymentForm.cardnumber.$invalid && (formStepSubmitted || paymentForm.cardnumber1.$touched || paymentForm.cardnumber2.$touched || paymentForm.cardnumber3.$touched || paymentForm.cardnumber4.$touched)">
                                                    <p ng-message="required">กรุณากรอกเลขบัตรเครดิท</p>

                                                    <p ng-message="pattern">กรุณากรอกเลขบัตรเครดิทที่ถูกต้อง</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{ 'has-error' : paymentForm.cvv2.$invalid && (formStepSubmitted || paymentForm.cvv2.$touched) }">
                                    <p class="col-xs-12 col-sm-5 control-label">รหัสรักษาความปลอดภัย (CVV2/CVC2) :</p>

                                    <div class="col-xs-12 col-sm-7" style="padding:0;">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input type="password" name="cvv2" mask="9999?" restrict="reject"
                                                       clean="true"
                                                       ng-model="payment.cvv2" class="form-control" required
                                                       autocomplete="off" ng-pattern="/^[0-9][0-9][0-9][0-9]?$/">

                                                <div class="help-block" ng-messages="paymentForm.cvv2.$error"
                                                     ng-if="paymentForm.cvv2.$invalid && (formStepSubmitted || paymentForm.cvv2.$touched)">
                                                    <p ng-message="required">กรุณากรอกเลข CVV2/CVC2</p>

                                                    <p ng-message="pattern">กรุณากรอกเลข CVV2/CVC2 ที่ถูกต้อง</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <!--<p class="control-label" ng-click="showCvv2 = !showCvv2"-->
                                                <!--style="cursor:pointer;">CVV2/CVC2 คืออะไร?</p>-->
                                                <a ng-href="{{tempData.cvv2Url}}" target="_blank">
                                                    <p class="control-label" style="cursor:pointer;">CVV2/CVC2 คืออะไร?</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div>
                                        <p class="col-xs-12 col-sm-5 control-label">วันหมดอายุ (เดือน/ปี) :</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-7" style="padding:0;">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group" style="margin-bottom: 0;"
                                                     ng-class="{ 'has-error' : (paymentForm.expiryMonth.$invalid && (formStepSubmitted || paymentForm.expiryMonth.$touched)) }">
                                                    <ol class="nya-bs-select form-control"
                                                        ng-class="{'filled': payment.expiryMonth}"
                                                        ng-model="payment.expiryMonth" name="expiryMonth"
                                                        title="เดือน"
                                                        data-size="5" required>
                                                        <li nya-bs-option="expiryMonth in range(1,12)">
                                                            <!-- the text content of anchor element will be used for search -->
                                                            <a>
                                                                {{ expiryMonth }}
                                                            </a>
                                                        </li>
                                                    </ol>
                                                    <div class="help-block" ng-messages="paymentForm.expiryMonth.$error"
                                                         ng-if="paymentForm.expiryMonth.$invalid && (formStepSubmitted || paymentForm.expiryMonth.$touched)">
                                                        <p ng-message="required">กรุณาเลือก เดือน ที่หมดอายุ</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group" style="margin-bottom: 0;"
                                                     ng-class="{ 'has-error' : (paymentForm.expiryYear.$invalid && (formStepSubmitted || paymentForm.expiryYear.$touched)) }">
                                                    <ol class="nya-bs-select form-control"
                                                        ng-class="{'filled': payment.expiryYear}"
                                                        ng-model="payment.expiryYear" name="expiryYear"
                                                        title="ปี"
                                                        data-size="5" required>
                                                        <li nya-bs-option="expiryYear in range(nowYear,nowYear+15)">
                                                            <!-- the text content of anchor element will be used for search -->
                                                            <a>
                                                                {{ expiryYear }}
                                                            </a>
                                                        </li>
                                                    </ol>
                                                    <div class="help-block" ng-messages="paymentForm.expiryYear.$error"
                                                         ng-if="paymentForm.expiryYear.$invalid && (formStepSubmitted || paymentForm.expiryYear.$touched)">
                                                        <p ng-message="required">กรุณาเลือก ปี ที่หมดอายุ</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group"
                                     ng-class="{ 'has-error' : paymentForm.cardholdername.$invalid && (formStepSubmitted || paymentForm.cardholdername.$touched) }">
                                    <p class="col-xs-12 col-sm-5 control-label">ชื่อผู้ถือบัตร :</p>

                                    <div class="col-xs-12 col-sm-7" style="padding:0;">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input type="text" style="text-transform: uppercase;"
                                                       name="cardholdername"
                                                       ng-change="payment.creditCardName = payment.creditCardName.toUpperCase();"
                                                       ng-model="payment.creditCardName" class="form-control"
                                                       ng-minlength="1" ng-maxlength="100" validate="false"
                                                       repeat="40" restrict="reject" clean="true" autocomplete="off"
                                                       ng-pattern="/^(([a-zA-Z]+['-.]?)+|[a-zA-Z]*)[ ]?(([a-zA-Z]+['-.]?[.]?)+[ ]?[a-zA-Z]+|[a-zA-Z]*)$/"
                                                       required>

                                                <div class="help-block" ng-messages="paymentForm.cardholdername.$error"
                                                     ng-if="paymentForm.cardholdername.$invalid && (formStepSubmitted || paymentForm.cardholdername.$touched)">
                                                    <p ng-message="required">กรุณากรอกชื่อผู้ถือบัตร</p>

                                                    <p ng-message="pattern">กรุณากรอกชื่อผู้ถือบัตรที่ถูกต้อง</p>

                                                    <p ng-message="minlength">กรุณากรอกชื่อผู้ถือบัตร 1 - 100
                                                        ตัวอักษร</p>

                                                    <p ng-message="maxlength">กรุณากรอกชื่อผู้ถือบัตร 1 - 100
                                                        ตัวอักษร</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                        <div class="row">
                                            <div class="col-xs-4 text-center" style="padding:0;">
                                                <div class="row">
                                                    <div class="col-xs-10 col-sm-6" style="padding:0;">
                                                        <img src="../images/icon-visa.png" alt=""
                                                             style="margin-top: 10px;">
                                                    </div>
                                                    <div class="col-xs-10 col-sm-6" style="padding:0;">
                                                        <img src="../images/icon-verifled-visa.png" alt=""
                                                             style="margin-top: 10px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 text-center" style="padding:0;">
                                                <div class="row">
                                                    <div class="col-xs-10 col-sm-6" style="padding:0;">
                                                        <img src="../images/icon-mastercard.png" alt=""
                                                             style="margin-top: 10px;">
                                                    </div>
                                                    <div class="col-xs-10 col-sm-6" style="padding:0;">
                                                        <img src="../images/icon-verifled-mastercard.png" alt=""
                                                             style="margin-top: 10px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 text-center" style="padding:0;">
                                                <div class="row">
                                                    <div class="col-xs-10 col-sm-6" style="padding:0;">
                                                        <img src="../images/icon-jcb.png" alt=""
                                                             style="margin-top: 10px;">
                                                    </div>
                                                    <div class="col-xs-10 col-sm-6" style="padding:0;">
                                                        <img src="../images/icon-verifled-jcb.png" alt=""
                                                             style="margin-top: 10px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center" style="padding: 0;">
                        <button type="submit" href="#form-navigation" offset="30"
                                class="btn btn-super btn-block step-submit-button">
                            <span>ชำระเบี้ยประกัน</span> <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div auto-submit-form event="gateway.redirect"></div>