<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="payment">
			<div class="payment-header">
				<div class="row">
					<div class="col-xs-12 text-center"><h4>ข้อมูลการชำระเงิน</h4></div>
				</div>
			</div>
			<div class="payment-details">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1" >
						<div class="row form-group" ng-class="{ 'has-error' : insuranceForm.method.$invalid && (formStepSubmitted || insuranceForm.method.$touched) }">
							<p class="col-xs-12 col-sm-6 control-label">ประเภทบัตรเครดิต :</p>
							<div class="col-xs-12 col-sm-6" style="padding:0;">
								<div class="row">
									<div class="col-xs-12">
										<ol class="nya-bs-select form-control" ng-class="{'filled': travel.paymant.method}" ng-model="travel.paymant.method" name="method" title="เลือกประเภทบัตร" data-size="5" required>
											<li nya-bs-option="method in travelData.formData.paymentMethod | orderBy:'id'">
												<!-- the text content of anchor element will be used for search -->
												<a>
													{{ method.name }}
												</a>
											</li>
										</ol>
										<div class="help-block" ng-messages="insuranceForm.method.$error" ng-if="insuranceForm.method.$invalid && (formStepSubmitted || insuranceForm.method.$touched)">
							                <p ng-message="required">กรุณาเลือกประเภทบัตรเครดิต</p>
							            </div>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group" ng-class="{ 'has-error' : insuranceForm.cardnumber.$invalid && (formStepSubmitted || insuranceForm.cardnumber1.$touched || insuranceForm.cardnumber2.$touched || insuranceForm.cardnumber3.$touched || insuranceForm.cardnumber4.$touched) }">
							<p class="col-xs-12 col-sm-6 control-label">หมายเลขบัตรเครดิต :</p>
							<div class="col-xs-12 col-sm-6" style="padding:0;">
								<div class="row">
									<div class="col-xs-3">
										<input type="text" name="cardnumber1" mask="9999" maxlength="4" restrict="reject" clean="true" ng-change="travel.paymant.cardnumber = tempData.paymant.cardnumber1 + tempData.paymant.cardnumber2 + tempData.paymant.cardnumber3 + tempData.paymant.cardnumber4" ng-model="tempData.paymant.cardnumber1" class="cardnumber form-control text-center">
									</div>
									<div class="col-xs-3">
										<input type="text" name="cardnumber2" mask="9999" maxlength="4" restrict="reject" clean="true" ng-change="travel.paymant.cardnumber = tempData.paymant.cardnumber1 + tempData.paymant.cardnumber2 + tempData.paymant.cardnumber3 + tempData.paymant.cardnumber4" ng-model="tempData.paymant.cardnumber2"  class="cardnumber form-control text-center">
									</div>
									<div class="col-xs-3">
										<input type="text" name="cardnumber3" mask="9999" maxlength="4" restrict="reject" clean="true" ng-change="travel.paymant.cardnumber = tempData.paymant.cardnumber1 + tempData.paymant.cardnumber2 + tempData.paymant.cardnumber3 + tempData.paymant.cardnumber4" ng-model="tempData.paymant.cardnumber3"  class="cardnumber form-control text-center">
									</div>
									<div class="col-xs-3">
										<input type="text" name="cardnumber4" mask="9999" maxlength="4" restrict="reject" clean="true" ng-change="travel.paymant.cardnumber = tempData.paymant.cardnumber1 + tempData.paymant.cardnumber2 + tempData.paymant.cardnumber3 + tempData.paymant.cardnumber4" ng-model="tempData.paymant.cardnumber4"  class="cardnumber form-control text-center">
									</div>
									<input type="hidden" name="cardnumber" ng-model="travel.paymant.cardnumber" ng-pattern="/^\d{16}$/" required>
									<div class="col-xs-12">
										<div class="help-block" ng-messages="insuranceForm.cardnumber.$error" ng-if="insuranceForm.cardnumber.$invalid && (formStepSubmitted || insuranceForm.cardnumber1.$touched || insuranceForm.cardnumber2.$touched || insuranceForm.cardnumber3.$touched || insuranceForm.cardnumber4.$touched)">
					                        <p ng-message="required">กรุณากรอกเลขบัตรเครดิท</p>
					                        <p ng-message="pattern">กรุณากรอกเลขบัตรเครดิทที่ถูกต้อง</p>
					                    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group" ng-class="{ 'has-error' : insuranceForm.cvv2.$invalid && (formStepSubmitted || insuranceForm.cvv2.$touched) }">
							<p class="col-xs-12 col-sm-6 control-label">รหัสรักษาความปลอดภัย (CVV2) :</p>
							<div class="col-xs-12 col-sm-6" style="padding:0;">
								<div class="row">
									<div class="col-xs-6">
										<input type="text" name="cvv2" mask="9999?" restrict="reject" clean="true" ng-model="travel.paymant.cvv2" class="form-control" required ng-pattern="/^[0-9][0-9][0-9][0-9]?$/">
										<div class="help-block" ng-messages="insuranceForm.cvv2.$error" ng-if="insuranceForm.cvv2.$invalid && (formStepSubmitted || insuranceForm.cvv2.$touched)">
				                            <p ng-message="required">กรุณากรอกเลข CVV2</p>
				                            <p ng-message="pattern">กรุณากรอกเลข CVV2 ที่ถูกต้อง</p>
				                        </div>
									</div>
									<div class="col-xs-6">
										<p class="control-label" ng-click="showCvv2 = !showCvv2" style="cursor:pointer;">CVV2 คืออะไร?</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group">
							<div>
								<p class="col-xs-12 col-sm-6 control-label">วันหมดอายุ (เดือน/ปี) :</p>
							</div>
							<div class="col-xs-12 col-sm-6" style="padding:0;">
								<div class="row">
									<div class="col-xs-6">
										<div class="form-group" style="margin-bottom: 0;" ng-class="{ 'has-error' : (insuranceForm.expiryMonth.$invalid && (formStepSubmitted || insuranceForm.expiryMonth.$touched)) }">
											<ol class="nya-bs-select form-control" ng-class="{'filled': travel.paymant.expiryMonth}" ng-model="travel.paymant.expiryMonth" name="expiryMonth" title="เดือน" data-size="5" required>
												<li nya-bs-option="expiryMonth in range(1,12)">
													<!-- the text content of anchor element will be used for search -->
													<a>
														{{ expiryMonth }}
													</a>
												</li>
											</ol>
											<div class="help-block" ng-messages="insuranceForm.expiryMonth.$error" ng-if="insuranceForm.expiryMonth.$invalid && (formStepSubmitted || insuranceForm.expiryMonth.$touched)">
							                    <p ng-message="required">กรุณาเลือก เดือน ที่หมดอายุ</p>
							                </div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="form-group" style="margin-bottom: 0;" ng-class="{ 'has-error' : (insuranceForm.expiryYear.$invalid && (formStepSubmitted || insuranceForm.expiryYear.$touched)) }"> 
											<ol class="nya-bs-select form-control" ng-class="{'filled': travel.paymant.expiryYear}" ng-model="travel.paymant.expiryYear" name="expiryYear" title="ปี" data-size="5" required>
												<li nya-bs-option="expiryYear in range(2015,2115)">
													<!-- the text content of anchor element will be used for search -->
													<a>
														{{ expiryYear }}
													</a>
												</li>
											</ol>
											<div class="help-block" ng-messages="insuranceForm.expiryYear.$error" ng-if="insuranceForm.expiryYear.$invalid && (formStepSubmitted || insuranceForm.expiryYear.$touched)">
							                    <p ng-message="required">กรุณาเลือก ปี ที่หมดอายุ</p>
							                </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row form-group" ng-class="{ 'has-error' : insuranceForm.cardholdername.$invalid && (formStepSubmitted || insuranceForm.cardholdername.$touched) }">
							<p class="col-xs-12 col-sm-6 control-label">ชื่อผู้ถือบัตร :</p>
							<div class="col-xs-12 col-sm-6" style="padding:0;">
								<div class="row">
									<div class="col-xs-12">
										<input type="text" style="text-transform: uppercase;" name="cardholdername" ng-change="travel.paymant.cardholdername = travel.paymant.cardholdername.toUpperCase();" ng-model="travel.paymant.cardholdername" class="form-control"  mask="@?s?" validate="false"  repeat="40" restrict="reject" clean="true"  ng-pattern="/[a-zA-Z]/" required>
										<div class="help-block" ng-messages="insuranceForm.cardholdername.$error" ng-if="insuranceForm.cardholdername.$invalid && (formStepSubmitted || insuranceForm.cardholdername.$touched)">
							                <p ng-message="required">กรุณากรอกชื่อผู้ถือบัตร</p>
							                <p ng-message="required">กรุณากรอกชื่อผู้ถือบัตรเป็นภาษาอังกฤษ</p>
							            </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cvv2-lightbox"  ng-show="showCvv2" ng-click="showCvv2 = !showCvv2">
				<img style="padding: 30px;background-color: #fff;" src="images/cvv2.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center" style="padding: 0;">
				<button href="#form-navigation" offset="30" du-smooth-scroll ng-click="goToOrder(insuranceForm.$valid)" class="btn btn-super btn-block step-submit-button"><span>ชำระเบี้ยประกัน</span> <span class="glyphicon glyphicon-menu-right"></span></button>
			</div>
		</div>
	</div>
</div>