<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<h3>ผลประโยชน์ความคุ้มครอง</h3>
		<div class="plan-selection">
			<h4>เลือกความคุ้มครองหลัก</h4>
			<div class="plan-table row hidden-xs" id="plan" ng-class="{'one-plan':travelData.campaignList[0].mandatory.rateScaleList.length == 1,'two-plan':travelData.campaignList[0].mandatory.rateScaleList.length == 2}">

				<div class="plan-table-heading col-xs-5" equalizer="'table-group'">
					<div class="plan-table-top" equalizer="'group'">
						<h5><span>{{travelData.campaignList[0].mandatory.name}}</span><br><small>ผลประโยชน์</small></h5>
					</div>
					<div class="plan-table-row" equalizer="'row{{$index}}'" ng-repeat="coverage in travelData.campaignList[0].mandatory.coverageList">
						<div ng-bind-html="trustAsHtml(coverage.description)"></div>
					</div>
				</div>
				<div class="plan-table-content col-xs-7" equalizer="'table-group'">
					<span ng-show="showLeftPlanNavigator()" class="glyphicon glyphicon-menu-left plan-navigation" style="left:-20px;" equalizer="'group'" ng-click="selectPlan(tempData.selectedPlanIndex-1)"></span>
					<div class="row plan-wrapper text-center" id="plan-main-scroll">
						<div class="plan" ng-class="{'selected':isRateScaleSameAsSelected(rateScale),'hidePlan':hideRateScale($index)}" ng-repeat="rateScale in travelData.campaignList[0].mandatory.rateScaleList" ng-click="selectPlan($index, rateScale)">
							<div class="plan-table-top" equalizer="'group'">
								<span class="radiobox"></span>
								<h5>
									<small>{{rateScale.description}}</small><br>
									<big>{{rateScale.price | number}}</big> บาท
								</h5>
								<p>{{rateScale.rateScaleValue}}</p>
							</div>
							<div class="plan-table-row" equalizer="'row{{$index}}'" ng-repeat="item in rateScale.sumInsure track by $index">
								<p ng-hide="item!=='1'"><span class='glyphicon glyphicon-ok' style='font-size: 18px'></span></p>
								<p ng-show="item!=='1'" ng-bind-html="trustAsHtml(item)"></p>
							</div>
						</div>
					</div>
					<span ng-show="showRightPlanNavigator()" class="glyphicon glyphicon-menu-right plan-navigation" style="right:-0px;" equalizer="'group'" ng-click="selectPlan(tempData.selectedPlanIndex+1)"></span>
				</div>
			</div>
			<div class="plan-table row visible-xs">
				<div class="plan-table-heading col-xs-12">
					<div class="plan-table-top text-center">
						<h5>(A) Travel Care</h5>
						<p>ความคุ้มครองสูงสุด (บาท)</p>
					</div>
				</div>
				<div class="plan-table-content col-xs-12">
					<div class="row">
						<div class="plan-tab col-xs-3" equalizer="'xs-plan-table'">
							<span ng-show="travel.selectedPlan > 2 && travelData.quotation.protections.length > 3" class="glyphicon glyphicon-menu-up plan-navigation" style="top:0%;"ng-click="selectPlan(travel.selectedPlan-1)"></span>
							<span ng-hide="travel.selectedPlan > 2 && travelData.quotation.protections.length > 3" class="plan-navigation" style="top:0%; cursor: initial;"></span>
							<div class="plan-tab-inner" ng-style="{'transform': translatey}">
								<div class="plan" ng-class="{'selected':plan.planid == travel.selectedPlan,'hidePlan':(plan.planid + 1) < travel.selectedPlan && (plan.planid + 1) != (travelData.quotation.protections.length - 1)}" ng-repeat="plan in travelData.quotation.protections" ng-click="selectPlan(plan.planid)">
									<div class="plan-table-top text-center">
										<span class="radiobox"></span>
										<h5>
											<small>แผน {{plan.planid}}</small><br>
											<big>{{getPriceRate(plan) | number}}</big><br>
											<small style="margin-top: -3px; display: block;">บาท</small>
										</h5>
									</div>
								</div>
							</div>
							<span ng-show="travel.selectedPlan < travelData.quotation.protections.length - 1" class="glyphicon glyphicon-menu-down plan-navigation" style="top:87%;height:13%;" ng-click="selectPlan(travel.selectedPlan+1)"></span>
							<span ng-hide="travel.selectedPlan < travelData.quotation.protections.length - 1" class="plan-navigation" style="top:87%;height:13%;cursor: initial;"></span>
						</div>
						<div class="plan-detail col-xs-9" equalizer="'xs-plan-table'">
							<div class="plan-table-row row" ng-repeat="description in travelData.quotation.description">
								<div class="col-xs-8">
                                    <p ng-hide="description!=='1'"><span class='glyphicon glyphicon-ok' style='font-size: 18px'></span></p>
                                    <p ng-show="description!=='1'" ng-bind-html="trustAsHtml(description)"></p>
								</div>
								<div class="col-xs-4 text-right">
									<p ng-bind-html="trustAsHtml(travelData.quotation.protections[travel.selectedPlan-1].description[$index+1])"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h4>เลือกความคุ้มครองเสริม</h4>
			<div id="plan-options">
				<div ng-repeat="voluntary in travelData.campaignList[0].voluntaryList" class="plan-table row hidden-xs" ng-class="{'one-plan':travelData.campaignList[0].mandatory.rateScaleList.length == 1,'two-plan':travelData.campaignList[0].mandatory.rateScaleList.length == 2}">
					<div class="clearfix">
						<div class="plan-table-heading col-xs-5" >
							<div class="plan-table-top" equalizer="'group2'" ng-click="toggleCollapse($index)">
								<img src="../images/icon-caret-down.png" style="width: auto; vertical-align: middle; margin-top: -4px; padding-right: 10px;" alt="">
								<h5>{{voluntary.name}}</h5>
							</div>
							<div collapse="isCollapsed($index)">
								<div class="plan-table-row" equalizer="'options1-row{{$index}}'" ng-repeat="coverage in voluntary.coverageList" >
									<p ng-bind-html="trustAsHtml(coverage.description)"></p>
								</div>
							</div>
						</div>
						<div class="plan-table-content col-xs-7" >
							<div class="row plan-wrapper text-center" id="plan-options1-scroll">
								<div class="plan" ng-class="{'selected':plan.planid == travel.selectedPlan,'hidePlan':(plan.planid + 1) < travel.selectedPlan && (plan.planid + 1) != (travelData.quotation.protections.length - 1) }" ng-repeat="plan in travelData.flightsecure.protections" ng-click="flightSecuredToggle(plan.planid == travel.selectedPlan);">
									<div class="plan-table-top" equalizer="'group2'" >
										<h5>
											<span class="option-checkbox">
												<span ng-class="{'icon-check': travel.flightSecured == true}" class=""></span>
											</span>
											{{getPriceRate(plan) | number}} <small>บาท</small>
										</h5>
										<p>ความคุ้มครองสูงสุด (บาท)</p>
									</div>
									<div collapse="tempData.option1IsCollapsed">
										<div class="plan-table-row" equalizer="'options1-row{{$index}}'" ng-repeat="description in plan.description">
                                            <p ng-hide="description!=='1'"><span class='glyphicon glyphicon-ok' style='font-size: 18px'></span></p>
                                            <p ng-show="description!=='1'" ng-bind-html="trustAsHtml(description)"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="plan-table row hidden-xs"  ng-class="{'one-plan':travelData.campaignList[0].mandatory.rateScaleList.length == 1,'two-plan':travelData.campaignList[0].mandatory.rateScaleList.length == 2}">
					<div class="clearfix">
						<div class="plan-table-heading col-xs-5" >
							<div class="plan-table-top" equalizer="'group3'" ng-click="tempData.option2IsCollapsed = !tempData.option2IsCollapsed">
								<img src="../images/icon-caret-down.png" style="  width: auto; vertical-align: middle; margin-top: -4px; padding-right: 10px;" alt="">
								<h5>(C) เลือก Property Safe เพิ่ม</h5>
							</div>
							<div collapse="tempData.option2IsCollapsed">
								<div class="plan-table-row" equalizer="'options2-row{{$index}}'" ng-repeat="description in travelData.propertysafe.description">
									<p ng-bind-html="trustAsHtml(description)"></p>
								</div>
							</div>
						</div>
						<div class="plan-table-content col-xs-7">
							<div class="row plan-wrapper text-center" id="plan-options2-scroll">
								<div class="plan" ng-class="{'selected':plan.planid == travel.selectedPlan,'hidePlan':(plan.planid + 1) < travel.selectedPlan && (plan.planid + 1) != (travelData.quotation.protections.length - 1) }" ng-repeat="plan in travelData.propertysafe.protections" ng-click="propertySafeToggle(plan.planid == travel.selectedPlan);">
									<div class="plan-table-top" equalizer="'group3'" >
										<h5>
											<span class="option-checkbox">
												<span ng-class="{'icon-check': travel.propertySafe == true}" class=""></span>
											</span>
											{{getPriceRate(plan) | number}} <small>บาท</small>
										</h5>
										<p>ความคุ้มครองสูงสุด (บาท)</p>
									</div>
									<div collapse="tempData.option2IsCollapsed">
										<div class="plan-table-row" equalizer="'options2-row{{$index}}'" ng-repeat="description in plan.description">
                                            <p ng-hide="description!=='1'"><span class='glyphicon glyphicon-ok' style='font-size: 18px'></span></p>
                                            <p ng-show="description!=='1'" ng-bind-html="trustAsHtml(description)"></p>
                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="plan-table row visible-xs">
					<div class="plan-table-heading col-xs-12">
						<div class="plan-table-top text-center" ng-click="tempData.option1IsCollapsed = !tempData.option1IsCollapsed">
							<img src="../images/icon-caret-down.png" style="  width: auto; vertical-align: middle; margin-top: -4px; padding-right: 10px;" alt="">
							<h5>(B) เลือก Flight Secure เพิ่ม</h5>
							<p>ความคุ้มครองสูงสุด (บาท)</p>
						</div>
					</div>
					<div class="plan-table-content col-xs-12">
						<div class="row">
							<div class="plan-tab" ng-class="{'col-xs-12':tempData.option1IsCollapsed,'col-xs-3':!tempData.option1IsCollapsed}">
								<div class="plan selected" ng-click="flightSecuredToggle(true);">
									<div class="plan-table-top text-center">
										<h5>
											<span class="option-checkbox">
											<span ng-class="{'icon-check': travel.flightSecured == true}" class=""></span>
											</span>
											{{getPriceRate(travelData.flightsecure.protections[travel.selectedPlan-1]) | number}} <small>บาท</small>
										</h5>
									</div>
								</div>
							</div>
							<div class="plan-detail" collapse="tempData.option1IsCollapsed" ng-class="{'col-xs-12':tempData.option1IsCollapsed,'col-xs-9':!tempData.option1IsCollapsed}">
								<div class="plan-table-row row" ng-repeat="description in travelData.flightsecure.description">
									<div class="col-xs-8">
                                        <p ng-hide="description!=='1'"><span class='glyphicon glyphicon-ok' style='font-size: 18px'></span></p>
                                        <p ng-show="description!=='1'" ng-bind-html="trustAsHtml(description)"></p>
									</div>
									<div class="col-xs-4 text-right">
										<p ng-bind-html="trustAsHtml(travelData.flightsecure.protections[travel.selectedPlan-1].description[$index+1])"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="plan-table row visible-xs">
					<div class="plan-table-heading col-xs-12">
						<div class="plan-table-top text-center" ng-click="tempData.option2IsCollapsed = !tempData.option2IsCollapsed">
							<img src="../images/icon-caret-down.png" style="  width: auto; vertical-align: middle; margin-top: -4px; padding-right: 10px;" alt="">
							<h5>(C) เลือก Property Safe เพิ่ม222</h5>
							<p>ความคุ้มครองสูงสุด (บาท)</p>
						</div>
					</div>
					<div class="plan-table-content col-xs-12">
						<div class="row">
							<div class="plan-tab" ng-class="{'col-xs-12':tempData.option2IsCollapsed,'col-xs-3':!tempData.option2IsCollapsed}">
								<div class="plan selected" ng-click="propertySafeToggle(true);">
									<div class="plan-table-top text-center">
										<h5>
											<span class="option-checkbox">
											<span ng-class="{'icon-check': travel.propertySafe == true}" class=""></span>
											</span>
											{{getPriceRate(travelData.propertysafe.protections[travel.selectedPlan-1]) | number}} <small>บาท</small>
										</h5>
									</div>
								</div>
							</div>
							<div class="plan-detail" collapse="tempData.option2IsCollapsed" ng-class="{'col-xs-12':tempData.option2IsCollapsed,'col-xs-9':!tempData.option2IsCollapsed}">
								<div class="plan-table-row row" ng-repeat="description in travelData.propertysafe.description">
									<div class="col-xs-8">
                                        <p ng-hide="description!=='1'"><span class='glyphicon glyphicon-ok' style='font-size: 18px'></span></p>
                                        <p ng-show="description!=='1'" ng-bind-html="trustAsHtml(description)"></p>
									</div>
									<div class="col-xs-4 text-right">
										<p ng-bind-html="trustAsHtml(travelData.propertysafe.protections[travel.selectedPlan-1].description[$index+1])"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center" style="padding: 0;">
					<button href="#form-navigation" offset="30" du-smooth-scroll ng-click="goToProfile(insuranceForm.$valid)" class="btn btn-super btn-block step-submit-button"><span>ยืนยัน</span> <span class="glyphicon glyphicon-menu-right"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>
