<div class="row" sticky sticky-class="sticky" body-class="body-sticky">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 sticky-wrapper">			
		<div id="summary-bar" class="summary-bar">
			<div class="nav-icon">
				<div class="row">
					<div class="col-12-xs">
						<img src="images/nav-plan-on-summary.png" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="insurance-details-heading summary-bar-heading">
						<h5>รายละเอียดการเดินทาง</h5>
					 	<a href="">
					 		<img src="images/icon-edit.png" alt="">
					 	</a>
					</div>	
					<div class="insurance-details summary-bar-details">
						<div class="row">
							<div class="col-xs-12">
								<h6>จุดหมายปลายทาง</h6>
								<p class="destination-list"><span ng-repeat="destination in travel.destinations">{{destination.country}}</span></p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5">
								<h6>เริ่มเดินทาง</h6>
								<p ng-bind="tempData.shortStartDate"></p>
							</div>
							<div class="col-xs-5">
								<h6>สิ้นสุดวันเดินทาง</h6>
								<p ng-bind="tempData.shortEndDate"></p>
							</div>
							<div class="col-xs-2">
								<h6>รวม</h6>
								<p><span ng-bind="travel.days"></span> วัน</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5">
								<h6>ผู้ขอประกัน</h6>
								<p><span ng-bind="travel.passengers"></span> ท่าน</p>
							</div>
							<div class="col-xs-7" ng-if="travel.promotionCode">
								<h6>รหัสโปรโมชั่น</h6>
								<p ng-bind="travel.promotionCode"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="insurance-plan-heading summary-bar-heading">
						<h5>ความคุ้มครองที่เลือก</h5>
						<a href="">
					 		<img src="images/icon-edit.png" alt="">
					 	</a>
					</div>
					<div class="insurance-plan summary-bar-details">
						<h6>แผนประกันที่เลือก</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">	
		<h3>ผลประโยชน์ความคุ้มครอง</h3>
		<div class="plan-selection">
			<h4>เลือกความคุ้มครองหลัก</h4>
			<div class="plan-table row" id="plan-main">

				<div class="plan-table-heading col-xs-5" equalizer="'table-group'">
					<div class="plan-table-top" equalizer="'group'">
						<h5>ผลประโยชน์</h5>
					</div>
					<div class="plan-table-row" equalizer="'row{{$index}}'" ng-repeat="description in travelData.quotation.description">
						<div ng-bind-html="description"></div>
					</div>
				</div>
				<div class="plan-table-content col-xs-7" equalizer="'table-group'">
					<div class="row plan-wrapper text-center" id="plan-main-scroll">
						<div class="plan" ng-class="{'selected':$index == travelData.selectedPlan}" ng-repeat="plan in travelData.quotation.protect" ng-click="selectPlan($index)">
							<div class="plan-table-top" equalizer="'group'">
								<h5>
									<small>แผน {{plan.planid}}</small><br>
									{{plan.price}} บาท
								</h5>
							</div>
							<div class="plan-table-row" equalizer="'row{{$index}}'" ng-repeat="description in plan.description">
								<p ng-bind-html="description"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h4>เลือกความคุ้มครองเสริม</h4>
			<div class="plan-table row" id="plan-options">
				<div class="clearfix">
					<div class="plan-table-heading col-xs-5" equalizer="'table-group2'">
						<div class="plan-table-top" equalizer="'group2'">
							<h5>เลือก Flight Secure B เพิ่ม</h5>
						</div>
						<div class="plan-table-row" equalizer="'options1-row{{$index}}'" ng-repeat="description in travelData.flightsecure.description">
							<p ng-bind-html="description"></p>
						</div>
					</div>
					<div class="plan-table-content col-xs-7" equalizer="'table-group2'">
						<div class="row plan-wrapper text-center" id="plan-options1-scroll"> 
							<div class="plan" ng-class="{'selected':$index == travelData.selectedPlan}" ng-repeat="plan in travelData.flightsecure.protect" ng-click="selectPlan($index)">
								<div class="plan-table-top" equalizer="'group2'">
									<h5>
										{{plan.price}} บาท
									</h5>
								</div>
								<div class="plan-table-row" equalizer="'options1-row{{$index}}'" ng-repeat="description in plan.description">
									<p ng-bind="description"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix">
					<div class="plan-table-heading col-xs-5" equalizer="'table-group3'">
						<div class="plan-table-top" equalizer="'group3'">
							<h5>เลือก Property Safe C เพิ่ม</h5>
						</div>
						<div class="plan-table-row" equalizer="'options2-row{{$index}}'" ng-repeat="description in travelData.propertysafe.description">
							<p ng-bind-html="description"></p>
						</div>
					</div>
					<div class="plan-table-content col-xs-7" equalizer="'table-grou3'">
						<div class="row plan-wrapper text-center" id="plan-options2-scroll"> 
							<div class="plan" ng-class="{'selected':$index == travelData.selectedPlan}" ng-repeat="plan in travelData.propertysafe.protect" ng-click="selectPlan($index)">
								<div class="plan-table-top" equalizer="'group3'">
									<h5>
										{{plan.price}} บาท
									</h5>
								</div>
								<div class="plan-table-row" equalizer="'options2-row{{$index}}'" ng-repeat="description in plan.description">
									<p ng-bind-html="description"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>