<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
		<div class="thankyou">
			<div class="thankyou-header">
				<h3>
				ขอบคุณที่ไว้วางใจให้ซิกน่าประกันภัยคุ้มครองท่านในการเดินทาง
				</h3>

			</div>
			<div class="thankyou-details">
				<p class="order-detail">หมายเลขสั่งซื้อของคุณคือ <span class="ordernumber">{{refId}}</span></p>
				<div class="row">
					<div class="col-xs-2 text-right">
						<img src="images/icon-email.png" alt="">
					</div>
					<p class="col-xs-10">กรมธรรม์ประกันภัยการเดินทางต่างประเทศของท่านจะถูกส่งเข้าอีเมล์ตามที่ท่านระบุ</p>
				</div>
				<div class="row">
					<div class="col-xs-2 text-right">
						<img src="images/icon-plan-4.png" alt="">
					</div>
					<p class="col-xs-10">
						<span ng-bind-html="trustAsHtml(travelData.contactInfo)"></span>
						<br>อีเมล: {{travelData.emailInfo}}
					</p>
				</div>
			</div>
			<div class="banner" ng-if="travelData.bannerUrl" >
				<a ng-if="travelData.bannerThankYouUrl" ng-href="{{travelData.bannerThankYouUrl}}"><img ng-src="{{travelData.bannerThankYouUrl}}"/></a>
				<img ng-if="!travelData.bannerThankYouUrl" ng-src="{{travelData.bannerThankYouUrl}}"/>
			</div>
		</div>
	</div>
</div>
