<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
		<div class="thankyou">
			<div class="thankyou-header">
				<h3>
				ขอบคุณที่ไว้วางใจให้ซิกน่าประกันภัยคุ้มครองท่านในการเดินทาง
				</h3>
			</div>
			<div class="thankyou-details">
				<div class="row">
					<div class="col-xs-2 text-right">
						<img src="images/icon-email.png" alt="">
					</div>
					<p class="col-xs-10">กรมธรรม์ประกันภัยการเดินทางต่างประเทศของท่านจะถูกส่งเข้าอีเมล์ตามที่ท่านระบุ</p>
				</div>
				<div class="row">
					<div class="col-xs-2 text-right">
						<img src="images/icon-plan-4.png" alt="">
					</div>
					<p class="col-xs-10">
						ศูนย์บริการลูกค้าซิกน่า โทร: 1758 หรือ 0-2763-0000 (เว้นวันหยุดนักขัตฤกษ์)<br>
						วันจันทร์-วันศุกร์ เวลาทำการ 08.00-20.00 น. วันเสาร์-วันอาทิตย์ เวลาทำการ 08.30-17.30 น.<br>
						อีเมล: cigna.customerservice@cigna.com, www.facebook.com/CignaThailand
					</p>
				</div>
			</div>
			<div class="banner" ng-if="travelData.banner_image_url" >
				<a ng-if="travelData.banner_link_url" ng-href="{{travelData.banner_link_url}}"><img ng-src="{{travelData.banner_image_url}}"/></a>
				<img ng-if="!travelData.banner_link_url" ng-src="{{travelData.banner_image_url}}"/>
			</div>
		</div>
	</div>
</div>