/******************************************************************

Variables

******************************************************************/

$black:             #231f20;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;

$link-color:        $white;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$alert-red:					red;
$alert-green:				#645564;
$alert-blue:				blue;

$primary-color: rgb(45,77,117);
$secondary-color: #6FB8E6; 
$secondary-brand-color: rgb(217,131,69); 

$border-width: 1px;
$form-border-color: $secondary-color;
$border-radius: 4px;