<div class="mobileheader">
    <div class="container">
        <div class="row clearfix mrow1">
            <div class="col1">
                <a href="/"><img title="ซิกน่า" alt="ซิกน่า" class="img-responsive" src="http://www.cigna.co.th/sites/default/files/cignalogo.png"></a>
            </div>
            <div class="col2">
                <a href="tel:027842000"><img title="สอบถามผลิตภัณฑ์โทร 0-2784-2000" alt="สอบถามผลิตภัณฑ์โทร 0-2784-2000" class="img-responsive img-customer-service hotline" src="http://www.cigna.co.th/sites/default/files/howtocontact.png"></a>
            </div>
            <div class="col3">
                <div class="thai-lang">
                    TH <img src="http://www.cigna.co.th/sites/all/themes/cignas/images/flags/Thailand.png" title="ประเทศไทย" alt="ประเทศไทย" class="img-flag"> <div class="arrow-down"></div><div class="arrow-up" style="display: none;"></div>
                </div>
                <div class="all-lang" style="display: none;">
                    <h4 class="pull-left">Change Location</h4>
                    <button aria-hidden="true" type="button" class="close close-link pull-right">x</button>
                    <ul class="country-list">
                        <li><a class="china" target="_blank" href="http://www.cignacmb.com/">China</a></li>
                        <li><a class="cigna-envoy" target="_blank" href="http://www.cignaenvoy.com">Cigna Envoy</a></li>
                        <li><a class="cigna-expatriate" target="_blank" href="http://www.cignaglobalhealthbenefits.com">Cigna Expatriate</a></li>
                        <li><a class="hong-kong" target="_blank" href="http://www.cigna.com.hk">Hong Kong</a></li>
                        <li><a class="india" target="_blank" href="http://www.cignattkinsurance.in/">India</a></li>
                        <li><a class="international" target="_blank" href="http://www.cignaglobal.com">International</a></li>
                        <li><a class="indonesia" target="_blank" href="http://www.cigna.co.id">Indonesia</a></li>
                        <li><a class="korea" target="_blank" href="http://www.lina.co.kr">Korea</a></li>
                        <li><a class="new-zealand" target="_blank" href="http://www.cigna.co.nz">New Zealand</a></li>
                        <li><a class="spain" target="_blank" href="http://www.cigna-salud.es">Spain</a></li>
                        <li><a class="taiwan" target="_blank" href="http://www.cigna.com.tw">Taiwan</a></li>
                        <li><a class="turkey" target="_blank" href="http://www.cigna.com.tr/">Turkey</a></li>
                        <li><a class="united-kingdom" target="_blank" href="http://www.cigna.co.uk">United Kingdom</a></li>
                        <li><a class="united-states" target="_blank" href="http://www.cigna.com">United States</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix mrow2 cigna-bgcolor-purple-dark">
            <a href="/"><div class="col1">Home </div></a>
            <div class="col2"><img alt="" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon_search.png" class="m-toggle-search"></div>
            <div class="col3"><img alt="" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon_menu.jpg" class="m-toggle-menu"></div>
        </div>
    </div>
</div>
<div class="mobile-search">
    <form target="_self" accept-charset="UTF-8" id="search-block-form-m" method="post" action="#" class="search-form form-search content-search">
        <div>
            <div>
                <h2 class="element-invisible">Search form</h2>
                <div class="input-group">
                    <input type="text" maxlength="128" size="15" value="" name="search_block_form" id="edit-search-block-form-2-m" placeholder="ค้นหา" class="custom-search-box form-control form-text" title="Enter the terms you wish to search for.">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"></button>
                    </span>
                </div>
                <input type="image" src="#" name="op" id="edit-submit-m" class="custom-search-button element-invisible form-submit" alt="ค้นหา">
                <input type="hidden" value="form-IXvDCiFPcH1qY-mwGiJ2np266JV4UyXEwGDCcbv6HjU" name="form_build_id">
                <input type="hidden" value="7QBbauxuaI-zmPLTu1Tb_4eKk9D1eFFDHiG_5CVxwQQ" name="form_token">
                <input type="hidden" value="search_block_form" name="form_id">
            </div>
        </div>
    </form>
</div>
<div class="mobile-menu">
    <ul>
        <li>
            <a href="/our-plans" class="if-sub">แผนประกัน</a><span class="glyphicon glyphicon-chevron-right our_products"></span>
            <ul class="our_products-content">
                <li><a href="/our-plans/personal-accident-insurance">ประกันอุบัติเหตุ</a></li>
                <li><a href="/our-plans/critical-illness-insurance">ประกันโรคร้าย</a></li>
                <!-- <li><a href="/our-plans/health-protection-insurance">ประกันชดเชยรายได้</a></li> -->
                <!-- <li><a href="/our-plans/kids-protection-insurance">ประกันเด็กเด็ก</a></li>-->
                <li><a href="/our-plans/travel-insurance">ประกันการเดินทาง</a></li>
                <li><a href="/our-plans/combination-product">ประกันพิเศษสุดสุด</a></li>
                <li><a href="/our-plans/value-added-services">บริการพิเศษจากซิกน่า</a></li>
                <li><a href="/our-plans/lifestyle">ไลฟ์สไตล์ของคุณ</a></li>
            </ul>
        </li>
        <li>
            <a href="/health-wellness" class="if-sub">เคล็ด(ไม่)ลับ ยกระดับความฟิต</a><span class="glyphicon glyphicon-chevron-right health_wellness"></span>
            <ul class="health_wellness-content">
                <li><a href="/health-wellness/tip">เคล็ด(ไม่)ลับสุขภาพดี</a></li>
                <li><a href="/health-wellness/travel">ทิปส์ดีๆ เพื่อการเดินทาง</a></li>
                <li><a href="/health-wellness/travel-planner-tool">แพลนการท่องเที่ยว</a></li>
            </ul>
        </li>
        <li>
            <a href="/news" class="if-sub">ข่าวและกิจกรรม</a><span class="glyphicon glyphicon-chevron-right customer_care"></span>
            <ul class="customer_care-content">
                <li><a href="/news/news-activities">ความเคลื่อนไหวของซิกน่า</a></li>
                <li><a href="/news/journal">วารสารข่าวซิกน่า</a></li>
                <li><a href="/news/media">ซิกน่าในสื่อต่างๆ</a></li>
                <li><a href="/news/compensation">ข่าวการมอบสินไหมทดแทน</a></li>
                <li><a href="/news/flash-news">ข่าวด่วนจากทั่วโลก</a></li>
            </ul>
        </li>
        <li>
            <a href="/customer-care" class="if-sub">ศูนย์ดูแลลูกค้า</a><span class="glyphicon glyphicon-chevron-right news"></span>
            <ul class="news-content">
                <li><a href="/customer-care/how-to-claim">การเคลมสินไหม</a></li>
                <li><a href="/customer-care/payment">การชำระเบี้ยประกัน</a></li>
                <li><a href="/customer-care/download">ดาวน์โหลดแบบฟอร์ม</a></li>
                <li><a href="/customer-care/provider-locator">ค้นหาโรงพยาบาล</a></li>
            </ul>
        </li>
        <li><a href="https://eserviceth.intl.cigna.com/thpw/thpwcap/unsecure/ForwardToLoginPage.do?actionParam=forwardToLoginPage&amp;localeId=th_TH" class="if-sub">ซิกน่าออนไลน์</a></li>
        <li><a href="/about" class="if-sub">เกี่ยวกับซิกน่า</a></li>
        <li><a href="/faq" class="if-sub">คำถามพบบ่อย</a></li>
        <li><a href="/contact" class="if-sub">ติดต่อซิกน่า</a></li>
        <li><a href="/our-plans/buy-insurance" class="if-sub">ซื้อประกันที่นี่ </a></li>
    </ul>
</div>
<div class="desktop-containner">
    <!-- head top -->
    <div class="container-fluid top-menu-container cigna-bgcolor-purple-dark">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="container">
                    <div class="row clearfix">
                        <div class="region region-top-menu">
                            <section class="block block-block language clearfix" id="block-block-50">
                                
                                <div class="thai-lang">
                                    TH <img src="http://www.cigna.co.th/sites/all/themes/cignas/images/flags/Thailand.png" alt="Thai" class="img-flag"> <div class="arrow-down"></div><div class="arrow-up" style="display: none;"></div>
                                </div>
                                <div class="all-lang" style="display: none;">
                                    <h4 class="pull-left">Change Location</h4>
                                    <button aria-hidden="true" type="button" class="close close-link pull-right">x</button>
                                    <ul class="country-list">
                                        <li><a class="china" target="_blank" href="http://www.cignacmb.com/">China</a></li>
                                        <li><a class="cigna-envoy" target="_blank" href="http://www.cignaenvoy.com">Cigna Envoy</a></li>
                                        <li><a class="cigna-expatriate" target="_blank" href="http://www.cignaglobalhealthbenefits.com">Cigna Expatriate</a></li>
                                        <li><a class="hong-kong" target="_blank" href="http://www.cigna.com.hk">Hong Kong</a></li>
                                        <li><a class="india" target="_blank" href="http://www.cignattkinsurance.in/">India</a></li>
                                        <li><a class="international" target="_blank" href="http://www.cignaglobal.com">International</a></li>
                                        <li><a class="indonesia" target="_blank" href="http://www.cigna.co.id">Indonesia</a></li>
                                        <li><a class="korea" target="_blank" href="http://www.lina.co.kr">Korea</a></li>
                                        <li><a class="new-zealand" target="_blank" href="http://www.cigna.co.nz">New Zealand</a></li>
                                        <li><a class="spain" target="_blank" href="http://www.cigna-salud.es">Spain</a></li>
                                        <li><a class="taiwan" target="_blank" href="http://www.cigna.com.tw">Taiwan</a></li>
                                        <li><a class="turkey" target="_blank" href="http://www.cigna.com.tr/">Turkey</a></li>
                                        <li><a class="united-kingdom" target="_blank" href="http://www.cigna.co.uk">United Kingdom</a></li>
                                        <li><a class="united-states" target="_blank" href="http://www.cigna.com">United States</a></li>
                                    </ul>
                                </div>
                                </section> <!-- /.block -->
                                <section class="block block-menu clearfix" id="block-menu-menu-top-menu">
                                    
                                    <ul class="menu nav"><li class="first leaf"><a title="เกี่ยวกับซิกน่า" href="/about">เกี่ยวกับซิกน่า</a></li>
                                    <li class="leaf"><a title="คำถามพบบ่อย" href="/faq">คำถามพบบ่อย</a></li>
                                    <li class="last leaf"><a title="ติดต่อซิกน่า" href="/contact">ติดต่อซิกน่า</a></li>
                                </ul>
                                </section> <!-- /.block -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end head top -->
        
        <!-- header -->
        <div class="container-fluid mainmenu-container desktopheader">
            <div class="row clearfix">
                <div class="col-md-12 clear-padding-left-right">
                    <!-- logo -->
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-sm-6 col-md-6"><a href="/"><img title="ซิกน่า" alt="ซิกน่า" class="img-responsive logo" src="http://www.cigna.co.th/sites/default/files/cignalogo.png"></a></div>
                            <div class="col-sm-6 col-md-6">
                                <div class="row clearfix">
                                    <div class="col-sm-8 col-md-8 clear-padding-left">
                                        <div class="mainmenu-searchbox">
                                            <div class="region region-search-box">
                                                <section class="block block-search clearfix" id="block-search-form">
                                                    
                                                    <form accept-charset="UTF-8" id="search-block-form" method="post" action="/" class="form-search content-search"><div><div>
                                                        <h2 class="element-invisible">ฟอร์มค้นหา</h2>
                                                        <div class="input-group"><input type="text" maxlength="128" size="15" value="" name="search_block_form" id="edit-search-block-form--2" class="form-control form-text" placeholder="ค้นหา" title="ใส่คำที่คุณต้องการค้นหา"><span class="input-group-btn"><button class="btn btn-default" type="submit"></button></span></div><button type="submit" value="ค้นหา" name="op" id="edit-submit" class="element-invisible btn btn-primary form-submit">ค้นหา</button>
                                                        <input type="hidden" value="form-9OIZZbuNDE24uxBp2sKy-MiHdAwANkJWSJywYG5to34" name="form_build_id">
                                                        <input type="hidden" value="search_block_form" name="form_id">
                                                    </div>
                                                </div></form>
                                                </section> <!-- /.block -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 clear-padding-right">
                                        <a href="tel:027842000"><img title="สอบถามผลิตภัณฑ์ โทร 0-2784-2000" alt="สอบถามผลิตภัณฑ์ โทร 0-2784-2000" class="img-responsive img-customer-service hotline" src="http://www.cigna.co.th/sites/default/files/howtocontact.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"></div>
                        </div>
                    </div>
                    <!-- end logo -->
                    
                    
                    <!-- main TH menu -->
                    <div class="container menu-container">
                        <nav class="row clearfix">
                            <ul class="clearfix">
                                <li class="col-md-2" 
                                    ng-class="{'cigna-bgcolor-purple-light': hover1}" 
                                    ng-mouseenter="hover1 = true"
                                    ng-mouseleave="hover1 = false"
                                >
                                    <a  ng-class="{active: hover1}" 
                                        class="mainmenu-toggle main-menu-a-top-level thfont" 
                                        href="/our-plans"
                                    >
                                        แผนประกัน<span class="arrow-down"></span>
                                    </a>
                                    <div id="our_products" 
                                         class="container-fluid cigna-bgcolor-purple-light mainmenu-dropdown"
                                         ng-class="{active: hover1}"
                                    >
                                        <div class="row clearfix">
                                            <div class="col-md-12 clear-padding-left-right">
                                                <div class="container">
                                                    <div class="row clearfix">
                                                        <div class="col-md-2 left">
                                                            <a href="/our-plans/personal-accident-insurance">ประกันอุบัติเหตุ</a>
                                                            <a href="/our-plans/critical-illness-insurance">ประกันโรคร้าย</a>
                                                            <!-- <a href="/our-plans/health-protection-insurance">ประกันชดเชยรายได้</a>
                                                            <a href="/our-plans/kids-protection-insurance">ประกันเด็กเด็ก</a>-->
                                                            <a href="/our-plans/travel-insurance">ประกันการเดินทาง</a>
                                                            <a href="/our-plans/combination-product">ประกันพิเศษสุดสุด</a>
                                                        </div>
                                                        <!--<div class="col-md-2">
                                                            
                                                        </div>
                                                        <div class="col-md-2">
                                                            <a href="node/9">Product xx</a>
                                                            <a href="node/9">Product xx</a>
                                                            <a href="node/9">Product xx</a>
                                                        </div>-->
                                                        <div class="col-md-3 menu-thumbnail border-menu-right">
                                                            <a href="/our-plans/value-added-services"><img title="บริการพิเศษจากซิกน่า" alt="บริการพิเศษจากซิกน่า" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-vas.png">บริการพิเศษจากซิกน่า</a>
                                                        </div>
                                                        <div class="col-md-3 menu-thumbnail">
                                                            <a href="/our-plans/lifestyle"><img title="ไลฟ์สไตล์ของคุณ" alt="ไลฟ์สไตล์ของคุณ" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-lifestyle.png">ไลฟ์สไตล์ของคุณ</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-2 two-lines"
                                    ng-class="{'cigna-bgcolor-purple-light': hover2}" 
                                    ng-mouseenter="hover2 = true"
                                    ng-mouseleave="hover2 = false"
                                >
                                    <a ng-class="{active: hover2}" class="mainmenu-toggle main-menu-a-top-level thfont" href="/health-wellness">เคล็ด(ไม่)ลับ<br>ยกระดับความฟิต<span class="arrow-down"></span></a>
                                    <div id="health_wellness" class="container-fluid cigna-bgcolor-purple-light mainmenu-dropdown" ng-class="{active: hover2}">
                                        <div class="row clearfix">
                                            <div class="col-md-12 clear-padding-left-right">
                                                <div class="container">
                                                    <div class="row clearfix">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-3 menu-thumbnail border-menu-right">
                                                            <a href="/health-wellness/tip"><img title="เคล็ด(ไม่)ลับสุขภาพดี" alt="เคล็ด(ไม่)ลับสุขภาพดี" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-health.png">เคล็ด(ไม่)ลับสุขภาพดี</a>
                                                        </div>
                                                        <div class="col-md-3 menu-thumbnail border-menu-right">
                                                            <a href="/health-wellness/travel"><img title="ทิปส์ดี ๆ เพื่อการเดินทาง" alt="ทิปส์ดี ๆ เพื่อการเดินทาง" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-travel.png">ทิปส์ดีๆ เพื่อการเดินทาง</a>
                                                        </div>
                                                        <div class="col-md-3 menu-thumbnail">
                                                            <a href="/health-wellness/travel-planner-tool"><img alt="Responsive image" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-bag.png">แพลนการท่องเที่ยว</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-2"
                                    ng-class="{'cigna-bgcolor-purple-light': hover3}" 
                                    ng-mouseenter="hover3 = true"
                                    ng-mouseleave="hover3 = false"
                                >
                                    <a ng-class="{active: hover3}" class="mainmenu-toggle main-menu-a-top-level thfont" href="/news">ข่าวและกิจกรรม<span class="arrow-down"></span></a>
                                    <div id="news" class="container-fluid cigna-bgcolor-purple-light mainmenu-dropdown" ng-class="{active: hover3}">
                                        <div class="row clearfix">
                                            <div class="col-md-12 clear-padding-left-right">
                                                <div class="container">
                                                    <div class="row clearfix">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-2 menu-thumbnail border-menu-right">
                                                            <a href="/news/news-activities"><img title="ความเคลื่อนไหวของซิกน่า" alt="ความเคลื่อนไหวของซิกน่า" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-news.png">ความเคลื่อนไหวของซิกน่า</a>
                                                        </div>
                                                        <div class="col-md-2 menu-thumbnail border-menu-right">
                                                            <a href="/news/journal"><img title="วารสารข่าวซิกน่า" alt="วารสารข่าวซิกน่า" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-newsletter.png">วารสารข่าวซิกน่า</a>
                                                        </div>
                                                        <div class="col-md-2 menu-thumbnail border-menu-right">
                                                            <a href="/news/media"><img title="ซิกน่าในสื่อต่าง ๆ" alt="ซิกน่าในสื่อต่าง ๆ" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-media.png">ซิกน่าในสื่อต่างๆ</a>
                                                        </div>
                                                        <div class="col-md-2 menu-thumbnail border-menu-right">
                                                            <a href="/news/compensation"><img title="ข่าวการมอบสินไหม" alt="ข่าวการมอบสินไหม" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-claimnews.png">ข่าวการมอบสินไหม</a>
                                                        </div>
                                                        <div class="col-md-2 menu-thumbnail">
                                                            <a href="/news/flash-news"><img title="ข่าวด่วนจากทั่วโลก" alt="ข่าวด่วนจากทั่วโลก" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-alertnews.png">ข่าวด่วนจากทั่วโลก</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-2"
                                    ng-class="{'cigna-bgcolor-purple-light': hover4}" 
                                    ng-mouseenter="hover4 = true"
                                    ng-mouseleave="hover4 = false"
                                >
                                    <a ng-class="{active: hover4}" class="mainmenu-toggle main-menu-a-top-level thfont" href="/customer-care">ศูนย์ดูแลลูกค้า<span class="arrow-down"></span></a>
                                    <div id="customer_care" class="container-fluid cigna-bgcolor-purple-light mainmenu-dropdown" ng-class="{active: hover4}">
                                        <div class="row clearfix">
                                            <div class="col-md-12 clear-padding-left-right">
                                                <div class="container">
                                                    <div class="row clearfix">
                                                        <div class="col-md-3 menu-thumbnail border-menu-right">
                                                            <a href="/customer-care/how-to-claim"><img title="การเคลมสินไหม" alt="การเคลมสินไหม" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-howtomakeclaim.png">การเคลมสินไหม</a>
                                                        </div>
                                                        <div class="col-md-3 menu-thumbnail border-menu-right">
                                                            <a href="/customer-care/payment"><img title="การชำระเบี้ยประกัน" alt="การชำระเบี้ยประกัน" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-payment.png">การชําระเบี้ยประกัน</a>
                                                        </div>
                                                        <div class="col-md-3 menu-thumbnail border-menu-right">
                                                            <a href="/customer-care/download"><img title="ดาวน์โหลดแบบฟอร์ม" alt="ดาวน์โหลดแบบฟอร์ม" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-downloadform.png">ดาวน์โหลดแบบฟอร์ม</a>
                                                        </div>
                                                        <div class="col-md-3 menu-thumbnail">
                                                            <a href="/customer-care/provider-locator"><img title="ค้นหาโรงพยาบาล" alt="ค้นหาโรงพยาบาล" class="img-responsive" src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-menu-providerlocation.png">ค้นหาโรงพยาบาล</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-2"><a class="thfont" href="https://eserviceth.intl.cigna.com/thpw/thpwcap/unsecure/ForwardToLoginPage.do?actionParam=forwardToLoginPage&amp;localeId=th_TH">ซิกน่าออนไลน์</a></li>
                                <li class="col-md-2"><a class="wthfont" href="/our-plans/buy-insurance">ซื้อประกันที่นี่ </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>