<div class="container-fluid footer-wrapper">
  <div class="row clearfix">
    <div class="col-md-12 clear-padding-left-right">
      <div class="container footer-container">
        <div class="region region-footer">
          <section id="block-block-4" class="block block-block row clearfix clearfix">
            
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="branding-wrap">
                <div class="branding">
                  <div class="logo">
                    <a href="http://www.cigna.co.th"><img class="swap" title="Cigna" alt="Cigna" src="http://www.cigna.co.th/sites/all/themes/cignas/images/cigna_footer_logo_d.png"></a>
                  </div>
                  <div class="logo-tagline">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 clear-padding-left-right">
              <div class="row clearfix footer-top-menu"></div>
            </div>
          </section>
          <section id="block-block-6" class="block block-block col-md-12 clear-padding-left-right clearfix">
            <div class="row clearfix footer-top-menu">
              <div class="col-xs-6 col-sm-2 col-md-2 footer-1">
                <ul>
                  <li><a href="/our-plans">แผนประกันซิกน่า</a></li>
                  <li><a href="/our-plans/personal-accident-insurance">ประกันอุบัติเหตุ</a></li>
                  <li><a href="/our-plans/critical-illness-insurance">ประกันโรคร้าย</a></li>
                  <li><a href="/our-plans/travel-insurance">ประกันการเดินทาง</a></li>
                  <li><a href="/our-plans/combination-product">ประกันสุขภาพพิเศษสุดสุด</a></li>
                  <li><a href="/our-plans/value-added-services">บริการพิเศษจากซิกน่า</a></li>
                  <li><a href="/our-plans/lifestyle">ไลฟ์สไตล์ของคุณ</a></li>
                </ul>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-2 footer-2">
                <ul>
                  <li><a href="/health-wellness">เคล็ด(ไม่)ลับ<br>ยกระดับความฟิต</a></li>
                  <li><a href="/health-wellness/tip">เคล็ด(ไม่)ลับสุขภาพดี</a></li>
                  <li><a href="/health-wellness/travel">ทิปส์ดีๆ เพื่อการเดินทาง</a></li>
                  <li><a href="/health-wellness/travel-planner-tool">แพลนการท่องเที่ยว</a></li>
                </ul>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-2 footer-3">
                <ul>
                  <li><a href="/news">ข่าวและกิจกรรม</a></li>
                  <li><a href="/news/news-activities">ความเคลื่อนไหวของซิกน่า</a></li>
                  <li><a href="/news/journal">วารสารข่าวซิกน่า</a></li>
                  <li><a href="/news/media">ซิกน่าในสื่อต่างๆ</a></li>
                  <li><a href="/news/compensation">ข่าวการมอบสินไหม</a></li>
                  <li><a href="/news/flash-news">ข่าวด่วนจากทั่วโลก</a></li>
                  <li></li>
                </ul>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-2 footer-4">
                <ul>
                  <li><a href="/customer-care">ศูนย์ดูแลลูกค้า</a></li>
                  <li><a href="/customer-care/how-to-claim">การเคลมสินไหม</a></li>
                  <li><a href="/customer-care/payment">การชําระเบี้ยประกัน</a></li>
                  <li><a href="/customer-care/download">ดาวน์โหลดแบบฟอร์ม</a></li>
                  <li><a href="/customer-care/provider-locator">ค้นหาโรงพยาบาลในเครือข่าย</a></li>
                </ul>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-2 footer-5">
                <ul>
                  <li><a href="/about">เกี่ยวกับซิกน่า</a></li>
                  <li><a href="/about/why-choose-cigna">ทําไมใครๆก็เลือกซิกน่า</a></li>
                  <li><a href="/about/cigna-thailand">เกี่ยวกับเรา</a></li>
                  <li><a href="/about/careers">ร่วมงานกับซิกน่า</a></li>
                </ul>
              </div>
              <div class="col-xs-6 col-sm-2 col-md-2 footer-top-menu-head-title footer-1">
                <ul>
                  <li><a href="https://eserviceth.intl.cigna.com/thpw/thpwcap/unsecure/ForwardToLoginPage.do?actionParam=forwardToLoginPage&amp;localeId=th_TH" class="special-font">ซิกน่าออนไลน์</a></li>
                  <li><a href="/faq" class="special-font">คำถามพบบ่อย</a></li>
                  <li><a href="/contact" class="special-font">ติดต่อซิกน่า</a></li>
                </ul>
              </div>
            </div>
          </section>
          <section id="block-block-3" class="block block-block col-md-12 clear-padding-left-right clearfix">
            
            <div class="social-wrapper">
              <ul>
                <li>
                  <a href="https://plus.google.com/+CignaThailand" rel="publisher"> <img src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-google.png" alt="Google plus" title="Google plus" class="img-responsive"> Google+ </a>
                </li>
                <li>
                  <a href="http://www.youtube.com/user/cignathailand"> <img src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon_youtube.png" alt="Youtube" title="Youtube" class="img-responsive"> Youtube </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/CignaThailand"> <img src="http://www.cigna.co.th/sites/all/themes/cignas/images/icon-facebook.png" alt="Facebook" title="Facebook" class="img-responsive"> Facebook </a>
                </li>
              </ul>
            </div>
          </section>
          <section id="block-block-5" class="block block-block col-md-12 clear-padding-left-right clearfix">
            
            <div class="social-wrapper social-bottom">
              <ul>
                <li><a href="/sitemap">แผนผังเว็บไซต์</a></li>
                <li><a href="/legal-disclaimer">เงื่อนไขทางกฎหมาย</a></li><li><a href="/privacy-statement">สิทธิส่วนบุคคล</a></li><li><!--<a class="colorbox-inline" href="?width=300&height=300&inline=true#form-subscriptions-multi" > -->
                <!--<a class="colorbox-node" href="/node/270?width=300&height=320" > -->
                <a href="/news#email-subscription">
                สมัครรับข่าวสารจากซิกน่า</a></li>
              </ul>
            </div>
          </section>
          <section id="block-block-7" class="block block-block col-md-12 clear-padding-left-right clearfix">
            <div class="copyright-txt">
              © 2015 Cigna. All rights reserved
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>