/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/



body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $gray;
	color: $text-color;
	font-family: $font;
	font-size: 100%;
	line-height: 1.5;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	font-family: $font;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 0.875rem;
	font-weight: 700;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
}

#inner-header {
	width: 100%;
	padding: 0 50px;
	text-align: center;

	a {
		font-size: $small;
		color: $black;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin-right: 50px;
		line-height: 50px;

		&:last-child {
			margin-right: 0;
		}
	}
}

#logo {
	margin: 0.75em 0;
	display: none;

	a {
		color: $white;
	}
}

footer {
	overflow: hidden;
	position: relative;
}


/*********************
RESPONSIVE NAV
*********************/


/*********************
MAIN PAGE
*********************/

#content {
	margin-top: 1.5em;
}

.content-wrapper {
	background-color: #3da1dd;
}

.content-section {
	position: relative;
	overflow: hidden;
	padding: 0;	
	.travel-form {
		padding-bottom: 40px;
		margin-top:40px;
	}
	.form-section {
		margin-bottom: 40px;
	}
	.section-heading {
		h3 {
			font-family: $font;
			font-size: 32px;
			line-height: 32px;
			margin: 6px 0;
			color: $white;
		}
	}
	.travel-destination {
		background-color: $secondary-color;
		@include border-radius(4px);
		padding: 0; 
		margin-bottom: 10px;
		text-align: center;
		font-size: 25px;
		color: $white;
		@include box-shadow(1px, 1px, 3px, $text-color);
		font-family: $font-secondary;
		& > span {
			padding: 0 40px 0 10px;
			line-height: 44px;
			width: 100%;

		}
		.btn-tag {
			position: absolute;
			right: 0.5em;
			color: $white;
			background: none;
			height: 44px;
		}
	}
	h2 {
		font-family: $font;
		color: $white;
		font-size: 60px;
		line-height: 60px;
		@include text-shadow(1px, 1px, 3px, $text-color);
	}

}

.calendar {
	width: 100%;
	border: solid $border-width $form-border-color;
	@include border-radius($border-radius);
	@include box-shadow(1px, 1px, 3px, $text-color);
	table {
		width: 100%;
		font-family: $font-secondary;
		.btn {
			font-size: 1.1em;
		}
		button i {
			top: 3px;
		}
		thead {
			th {
				font-size: 18px;
				small {
					font-size: 18px;
				}
			}
			
		}
		tbody {
			font-size: 18px;
		}
		
	}
	button {
		border: 0px;
	}
}

.caution {
	margin-top: 30px;
	@include border-radius(4px);
	padding: 0; 
	color: $white;
	h4 {
		font-size: 22px;
	}
	p {
		font-size: 18px;
	}
}

.banner {
	a {

	}
	img {
		width: 100%;		
	}
} 

.form-navigation {
	margin: 60px 0 20px 0;
	text-align: center;
}

.bg {
	position: relative;
	overflow: visible;
	padding: 0;	
	z-index: 0;
	.bg-inner {
		img {
	      position: relative;
	      z-index: 0;
	      margin: -15% 0 0 0;
	      width: 100%;
	    }
	}
}

// slider
.slider {
	margin-bottom: 30px;
}

.image-slider {
	max-height: 400px;

	img {
		width: 100%;
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}
